<div class="lets_start">
  <h1>{{'services'| lang}}</h1>
</div>

<div class="container_user_div">
  <section class="user-content">
    <div class="fh8co-main container-fluid">
      <div class="row">     
        <app-user-side-menu></app-user-side-menu>


        <section class="user-content hideBefore">

          <div class="fh8co-main container-fluid background1">
        
            <div class="row form_pages_new">
               
              <div class="form_section_2">
        
                <div class="col-md-12 col-sm-12" id="customWidthFor106CallForm">
                   
                  <div class="form_2">
        
                    <h2 class="counter_number">{{CityName}} - {{'callTo106'| lang}} </h2>
        
                    <p class=" bottom_border" style="margin-bottom: 6px;" > </p>

                    <div *ngIf="isCorporation">
                        <select  (change)="setCorporation($event)" class="form-control" style="border: none; height: 36px !important;"  id="corporation_form"  name="corporation_form">
                              <option [ngValue]="null"  > * בחרו עיר</option>
                              <option [value]="pre.AuthoritieName" *ngFor="let pre of ListCorporation">{{pre.AuthoritieName}}</option>
                        </select>
                        <p class="bottom_border " style="padding-top: 0px;" ></p>
                        <div *ngIf="isValidCorporationMesseg" class="validationMesseg">{{isValidCorporationMesseg | lang }}</div>
  
                      </div> 

                     
                      <!-- <label class="label_accessibility" for="lastname">* {{'Number'| lang}}</label> -->
        
                      <input required  type="text" id="strNum" [attr.disabled]="isSetAddressByGPS?'':null"  class="text_input2" (focusout)="validStreetNumberFun()" [(ngModel)]="StreetNumber" placeholder="*  {{'Number'| lang}}">
                  
                    
                    <form style="display: inline;">
                      
                        <div>
                          <input id="streetName" required style="width: 72%;" class="streetName"  [(ngModel)]="StreetName" [attr.disabled]="isSetAddressByGPS?'':null"
                            mdInput placeholder="  * רחוב"  aria-label="State" (focusout)="validStreetNameFun()" 
                            [mdAutocomplete]="auto" [formControl]="stateCtrl">
                        </div>
            
                        <md-autocomplete  #auto="mdAutocomplete">
                          <md-option dir="rtl" class="optionColor" *ngFor="let state of streetNamesList | async" [value]="state.Name">
                            <span>{{ state.Name }}</span>
                          </md-option>
                        </md-autocomplete>
                       
                        <div *ngIf="isValidCityName" class="validationMesseg">{{isValidCityNameMesseg | lang }}</div>
            
                      </form>
        
        
                    <p class="bottom_border " style="padding-top: 0px;" ></p>
                        
                    <div *ngIf="isValidStreetNumMesseg" class="validationMesseg">{{isValidStreetNumMesseg | lang }}</div>
                    
                    <div *ngIf="isValidStreetMesseg" class="validationMesseg">{{isValidStreetMesseg | lang }}</div>
                   
                    

                   
                      <p class="bottom_border text_area">
        
                      <!-- <label class="label_accessibility" for="type_text">* {{'Description'| lang}}</label> -->
        
                      <textarea required type="text" (focusout)="validDescriptionAndImageFun()" [(ngModel)]="Description" placeholder="  * {{'Description'| lang}}"
                        id="type_text"> </textarea>
                    </p>
                    <div *ngIf="isValidDescriptionAndImage" class="validationMesseg">חובה להוסיף תיאור או תמונה</div>
        
        
                   <div class="form-group hirehide is-empty is-fileinput width100">
                    <div class="socialmediaside2">
                        <label class="lableupload label100" for="uploadImg" >להוספת צילום של המפגע &nbsp;  <em class="fa fa-camera" aria-hidden="true"></em></label>
                        <input class="fileUpload" (change)="uploadFile($event)" id="uploadImg" type="file" value="Choose a file" accept="image/jpeg, image/png" name="profilepic[]" style="display:none;" multiple>
                        <p *ngIf="maxFileValid"  class="max_upload">מקסימום 2 קבצים מותרים</p>
                    </div>
                </div>
                
        
        
        
        
        
                <div class="meter_upload">
                   
                </div>
        
                    <p>
                      <a href="" (click)="$event.preventDefault();sendHazardReportImage()" class="custom_sub_btn btn1 cursorPointer" title="send" style="margin-left:0px"> {{'OK'| lang}}</a>
                    </p>
        
                  </div>
        
                </div>
        
              </div>
        
            </div>
        
          </div>
        
        
        
         
        
        </section>
        
        
      

      </div>
    </div>
  </section>
</div>