<section  class="content-wel">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
            <h2 class="lets_start_web"> ברוך הבא! </h2>
            <p>הנך גולש ממכשיר נייד או טאבלט</p>

            <ul class="app_btn">
              <li>
                <a class="btn" (click)="actionAppStoreMenu('iphone')" ><img src="assets/img/iphone_logo.png" alt="iphone" ></a>
              </li>
               <li>
                <a class="btn" (click)="actionAppStoreMenu('android')" ><img src="assets/img/android_logo.png" alt="adroid" ></a>
              </li>
              <li>
                <a class="btn blue" (click)="actionAppStoreMenu('stay')" >לגלישה באתר המותאם</a>
              </li>
            </ul>

          </div>
      </div>
   </div>
</section>         