<div class="lets_start">
  <h1>{{'services'| lang}}</h1>
</div>


<div class="container_user_div">
  <section class="user-content">
    <div class="fh8co-main container-fluid">
      <div class="row">
        <app-user-side-menu></app-user-side-menu>

        <div *ngIf="!commonService.showLoader && waterDetailsPeriods12.length == 0 && isVerifyAsset">
            <p style='padding-right: 30vw; font-size: 30px;'> אין נתונים להצגה </p>
        </div>
        <div  id="tab-2" class="col-md-9 col-sm-9 padding-0 tab-content right_part table_part current">
          <div class="box-wrapper">
            <div *ngIf="!commonService.showLoader && waterDetailsPeriods12.length > 0 && isVerifyAsset">
            <div class="">
              <div class="">
                <div class="col-md-6 col-sm-6 pull-left">
                  <div class="lef_img">
                    <img class="img-responsive" style="max-height: 250px;" alt="" [src]="commonService.cityModel.logo">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 pull-right hideMobile">
                  <div class="right_text">
                    <h3 id="main">{{commonService.cityModel.name}} - {{'WaterDetails'| lang}}</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12">
              <div id="userDetailsDiv">
                <label>{{'addres'| lang}} : </label>
                <span> {{Address}} </span>
                <label>{{'name'| lang}} : </label>
                <span> {{PayerName}} </span>
                <br>
                <!-- <label>{{'counter'| lang}}  : </label>  <span> {{CounterKod}}  </span> -->
                <label>{{'waterIdentification'| lang}} : </label>
                <span> {{CounterID}} </span>
                <label>קריאה אחרונה : </label>
                <span> {{CurrentRead}} </span>

              </div>
              

              <div class="articles_table">
                <div class="tbl_wrap">

                  <table class="table table-striped">
                    <tr>
                      <th *ngIf="isUmax" >תקופה</th>
                      <th *ngIf="isArad">חודש</th>
                      <td *ngFor="let period of waterDetailsPeriods12">{{ isUmax ? period.PeriodMonth : period.hebrowMonthe}}<span *ngIf="isUmax" >/{{period.PeriodYear}}</span> </td>
                    </tr>
                    <tr *ngIf="waterDetailsPeriods24.length>0">
                        <th>צריכה: שנה נוכחית</th>
                        <td *ngFor="let period of waterDetailsPeriods24">{{period.CurrentUse}}</td>
                    </tr>
                    <tr>
                      <th *ngIf="isArad" >צריכה: שנה שעברה </th>
                      <th *ngIf="isUmax">צריכה</th>
                      <td *ngFor="let period of waterDetailsPeriods12">{{period.CurrentUse}}</td>
                    </tr>
                   
                  </table>
                 

                </div>
              </div>
              <a class="btn_full_screen" (click)="openPopup()">מסך מלא</a>
              <svg class="graph_SVG"  viewBox="0 0 900 300">
                <defs>
                  <linearGradient id="bottom-to-top" x1="0.5" y1="1" x2="0.5" y2="0">
                    <stop offset="0" stop-color="#0098ff">
                      <animate dur="2s" attributeName="offset" fill="freeze" from="0" to="1" />
                    </stop>
                    <stop offset="0" stop-color="#f2f2f2">
                      <animate dur="2s" attributeName="offset" fill="freeze" from="0" to="1" />
                    </stop>
                  </linearGradient>
                </defs>
                <defs>
                  <linearGradient id="bottom-to-top-dark-blue" x1="0.5" y1="1" x2="0.5" y2="0">
                    <stop offset="0" stop-color="#0000c6">
                      <animate dur="2s" attributeName="offset" fill="freeze" from="0" to="1" />
                    </stop>
                    <stop offset="0" stop-color="#f2f2f2">
                      <animate dur="2s" attributeName="offset" fill="freeze" from="0" to="1" />
                    </stop>
                  </linearGradient>
                </defs>
                <!-- y line  קו מ"ק -->


                <path d="                
                  M 35  0               
                  L 36  200                 
                  " stroke="#0000c6" stroke-width="1" />

                <!-- x lineS שנתות של מ"ק וקו  horizental lines 0  -->

                <path d="
                  M 10 200                 
                  l 750 0   " stroke="#0000c6" stroke-width="1" />

                <path *ngFor="let hei of liensHeight" attr.d="
                M 22 {{hei.height}}                 
                l 14 0   " stroke="#0000c6" stroke-width="1" />


                <!-- text on X מדדים של שנתות טקסט -->
                <text x="0" y="203" dx="5" fill="#0000c6" style="font-size:12px;">0</text>
                <text *ngFor="let hei of liensHeight index as i" x="0" [attr.y]="hei.height + 3" dx="15" fill="#0000c6" style="font-size:12px;">{{hei.MK}} מ"ק</text>


            
                <!-- bars -->
                <path *ngFor="let svg of svgGraphVM" class="path" attr.fill="{{svg.color}}" opacity="1" attr.d="M {{svg.left}}  {{svg.height}} L {{svg.left}} 200 L {{svg.right}} 200 L {{svg.right}} {{svg.height}} Z" />
                
               <!-- text bars -->
                <text *ngFor="let bar of textBarList" attr.x="{{bar.Xspace}}" y="230" dx="9" fill="#0000c6" style="font-size:12px;">{{bar.text}}</text>

  
                


                <!-- 24 מ"ק cross horizental line  -->
                <path attr.d=" M 45 {{avaerge24Line}}  l 690 0 " stroke="#00aaa6" stroke-width="1" />
                <!-- text for 24 discripion  cross horizental line  -->
                <text x="100%" attr.y="{{avaerge24Line}} + 3" dx="0" fill="#00aaa6" style="font-size:12px;">
                  צריכה ממוצעת ל-4 נפשות 24 מ"ק
                </text>


                <!-- map -->
                <text x="100%" y="80" dx="0" fill="#0000c6" style="font-size:12px;"> שנה נוכחית</text>
                <text x="100%" y="100" dx="0" fill="#0000c6" style="font-size:12px;">שנה שעברה</text>
                <!-- map color blue -->
                <path d="
               M 820 100
               L 820 90
               L 830 90
               L 830 100
               Z" fill="#0098ff" />
                <!-- map color dark blue -->
                <path d="
               M 820 80
               L 820 70
               L 830 70
               L 830 80
               Z" fill="#0000c6" /> Sorry, your browser does not support inline SVG.

              </svg>

            </div>

          
          </div>
          <app-user-verification-asset-page *ngIf="!isVerifyAsset">  </app-user-verification-asset-page>

          </div>

         

        </div>


      </div>
    </div>
  </section>
</div>



<!-- popup -->

<div id="popup" class="overlay">
  <div class="popup">
    <a class="close" (click)="closePopup()">&times;</a>
    <a class="btn_zoom" (click)="zoomSVG()"><img src="assets/img/search_col.png"></a>
    <div class="content">


    </div>

  </div>
</div>