<div class="lets_start">

    <h2 id="title_mobile">

    </h2>

</div>

<section class="user-content hideBefore ">

    <div class="fh8co-main container-fluid">

        <div class="row">

            <div class="col-md-3 col-sm-3">

            </div>

            <div class="col-md-6 col-sm-6">

                <div class="box-wrapper">

                    <div class="">

                        <div class="">

                            <div class="col-md-6 col-sm-6 pull-left">

                                <div class="lef_img">

                                    <img class="img-responsive left_user_img" alt="{{cityName}} לוגו" [src]="cityLogo" style="max-width: 50%;">

                                </div>

                            </div>

                            <div class="col-md-6 col-sm-6 pull-right">

                                <div class="right_text">

                                    <h3 id="title_desktop" style="right:0;font-size:40px;"></h3>

                                    <p id="managerSpeechFirstPar" style="color:#0000c5; display:inline-block; width:100%;"></p>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="aboutCEO">



                        <p id="managerSpeechSecondPar" class="color-gray">


                        </p>

                        <img class="" alt="תמונת המנהל" [src]="managerImg">

                        <p id="managerSpeechAutograph" class="gray_color"></p>

                    </div>

                </div>

            </div>

            <div class="col-md-3 col-sm-3">

            </div>

        </div>
    </div>

</section>