<section class="lets_start">
  <h1>קרית גת</h1>
</section>

<app-regestrition-log-in></app-regestrition-log-in>
<div style="margin-top: 7px;">
  <section class="user-content">
    <div class="fh8co-main container-fluid">
      <div class="row">

        <section class="content-bx" style="background: white;">
          <div class="container">
            <div class="row">

              <div data-type="image" data-style="" class="divbgImage" id="comp-jab74u7ybalatamediaimage" >
                <img id="comp-jab74u7ybalatamediaimageimage" class="bgImage" alt="" data-type="image" src="https://static.wixstatic.com/media/5ea301_a76aeb57f6c44b01a0b0b71ec3ff8dda~mv2_d_5000_1428_s_2.jpg/v1/fill/w_1903,h_577,al_c,q_85,usm_0.66_1.00_0.01/5ea301_a76aeb57f6c44b01a0b0b71ec3ff8dda~mv2_d_5000_1428_s_2.webp">
              </div>


              <div class="middle-text">
          לרשותכם מגוון כלים לביצוע עדכונים ואישורי מעבר דירה! אין&nbsp;צורך&nbsp;בהמתנה בתור בעירייה, בתאגיד
                                    המים או בסניפי&nbsp;
                                  ספקי
                                    שירות נוספים הנדרשים במעבר לדירה חדשה. מהיום - תוכלו לבצע הכל אונליין ולחסוך זמן וכסף                    
        
                                  </div>


              <div class="wrap-items">
                <!-- row 1 -->
                <!-- item -->
                <div class="s_BIwzIGroupSkin single-item">
                  <div class="s_BIwzIGroupSkininlineContent">
                    <div title="תשלומי לכרמי גת" class="wp2">
                      <div class="wp2link">
                        <img alt="תשלומים לכרמי גת" data-type="image" src="https://static.wixstatic.com/media/5ea301_224d4c9af20f440ba078dffddaf4df85~mv2.jpg/v1/fill/w_88,h_59,al_c,q_80,usm_0.66_1.00_0.01/5ea301_224d4c9af20f440ba078dffddaf4df85~mv2.webp">
                      </div>
                    </div>

                    <div data-packed="true" class="txtNew divPay">
                      <p class="font_7" dir="rtl">
                        <span>תשלומים</span>
                      </p>
                    </div>
                    <div data-packed="true" class="txtNew divBill">
                      <p class="font_7" dir="rtl" style="text-align:center;">
                        <span>שובר לתשלום הגיע בדואר?</span>
                      </p>

                      <p class="font_7" dir="rtl" style="text-align:center;">
                        <span class="online">שלמו אותו בקלות אונליין</span>
                      </p>
                    </div>

                    <div data-align="center" data-disabled="false" data-margin="0" data-should-use-flex="true" data-width="212" data-height="48"
                      class="style-jehkydi0 toPay" data-state="desktop shouldUseFlex center">
                      <a [routerLink]="commonService.isLogInUser ? '/user/37/payment/37' :  '/37/payment'"  data-type="external"
                        role="button" class="g-transparent-a style-jehkydi0link">
                        <span class="style-jehkydi0label">לתשלום שובר</span>
                      </a>
                    </div>
                  </div>
                </div>


                <!-- item -->
                <div class="s_BIwzIGroupSkin single-item">
                  <div class="s_BIwzIGroupSkininlineContent">
                    <!-- data-exact-height="63" data-content-padding-horizontal="4" data-content-padding-vertical="4" -->
                    <div title="תשלומי לכרמי גת" class="wp2">
                      <div class="wp2link">
                        <img alt="תשלומים לכרמי גת" data-type="image" src="https://static.wixstatic.com/media/5ea301_98b3a9a81a524b07b447931874875351~mv2.jpg/v1/fill/w_69,h_56,al_c,q_80,usm_0.66_1.00_0.01/5ea301_98b3a9a81a524b07b447931874875351~mv2.webp">
                      </div>
                    </div>

                    <div data-packed="true" class="txtNew divPay">
                      <p class="font_7" dir="rtl">
                        <span>זימון תורים</span>
                      </p>
                    </div>
                    <div data-packed="true" class="txtNew divBill">
                      <p class="font_7" dir="rtl" style="text-align:center;">
                        <span>תיאום תור במחלקת הגבייה, ללא המתנה בתור!</span>
                      </p>
                    </div>

                    <div data-align="center" data-disabled="false" data-margin="0" data-should-use-flex="true" data-width="212" data-height="48"
                      class="style-jehkydi0 toPay" data-state="desktop shouldUseFlex center">
                      <a [routerLink]="commonService.isLogInUser ? '/user/37/appointments' :  '/37/appointments'"
                        role="button" class="g-transparent-a style-jehkydi0link">
                        <span class="style-jehkydi0label">לחצו לתיאום תור</span>
                      </a>
                    </div>
                  </div>
                </div>


                <!-- item -->
                <div class="s_BIwzIGroupSkin single-item">
                  <div class="s_BIwzIGroupSkininlineContent">
                    <div title="תשלומי לכרמי גת" class="wp2">
                      <div class="wp2link">
                        <img alt="תשלומים לכרמי גת" data-type="image" src="https://static.wixstatic.com/media/5ea301_690e8cc79a4440f2a3af8e2856ac5fd4~mv2.jpg/v1/fill/w_57,h_57,al_c,q_80,usm_0.66_1.00_0.01/5ea301_690e8cc79a4440f2a3af8e2856ac5fd4~mv2.webp">
                      </div>
                    </div>

                    <div data-packed="true" class="txtNew divPay">
                      <p class="font_7" dir="rtl">
                        <span>אתר כרמי גת</span>
                      </p>
                    </div>
                    <div data-packed="true" class="txtNew divBill">
                      <p class="font_7" dir="rtl" style="text-align:center;">
                        <span>אתר הבית של כרמי גת לשירותכם למידע כללי</span>
                      </p>
                    </div>

                    <div data-align="center" data-disabled="false" data-margin="0" data-should-use-flex="true" data-width="212" data-height="48"
                      class="style-jehkydi0 toPay" data-state="desktop shouldUseFlex center">
                      <a href="http://www.carmeigat.org.il" target="_blank" data-content="https://www.mast.co.il/37/payment" data-type="external"
                        role="button" class="g-transparent-a style-jehkydi0link">
                        <span class="style-jehkydi0label">לאתר כרמי גת</span>
                      </a>
                    </div>
                  </div>
                </div>




                <!-- row 2 -->
                <!-- item -->
                <div class="s_BIwzIGroupSkin single-item">
                  <div class="s_BIwzIGroupSkininlineContent">
                    <div title="תשלומי לכרמי גת" class="wp2">
                      <div class="wp2link">
                        <img alt="תשלומים לכרמי גת" data-type="image" src="https://static.wixstatic.com/media/5ea301_690e8cc79a4440f2a3af8e2856ac5fd4~mv2.jpg/v1/fill/w_57,h_57,al_c,q_80,usm_0.66_1.00_0.01/5ea301_690e8cc79a4440f2a3af8e2856ac5fd4~mv2.webp">
                      </div>
                    </div>

                    <div data-packed="true" class="txtNew divPay">
                      <p class="font_7" dir="rtl">
                        <span>תאגיד המים מי-גת</span>
                      </p>
                    </div>
                    <div data-packed="true" class="txtNew divBill">
                      <p class="font_7" dir="rtl" style="text-align:center;">
                        <span>הדרך הקלה לעדכן פרטים, לשלם חשבונות ולצפות בנתוני המים שלכם</span>
                      </p>


                    </div>
                   
                    <div data-align="center" data-disabled="false" data-margin="0" data-should-use-flex="true" data-width="212" data-height="48"
                      class="style-jehkydi0 toPay" data-state="desktop shouldUseFlex center">
                      <a  [routerLink]="commonService.isLogInUser ? '/user/31/services' :  '/31/services'"
                        role="button" class="g-transparent-a style-jehkydi0link">
                        <span class="style-jehkydi0label"> לתאגיד מי-גת</span>
                      </a>
                    </div>
                  </div>
                </div>


                <!-- item -->
                <div class="s_BIwzIGroupSkin single-item">
                  <div class="s_BIwzIGroupSkininlineContent">
                    <!-- data-exact-height="63" data-content-padding-horizontal="4" data-content-padding-vertical="4" -->
                    <div title="תשלומי לכרמי גת" class="wp2">
                      <div class="wp2link">
                        <img alt="תשלומים לכרמי גת" data-type="image" src="https://static.wixstatic.com/media/5ea301_48bc702547dc41d3a0e9b0b98fdcaa72~mv2.jpg/v1/fill/w_59,h_57,al_c,q_80,usm_0.66_1.00_0.01/5ea301_48bc702547dc41d3a0e9b0b98fdcaa72~mv2.webp">
                      </div>
                    </div>

                    <div data-packed="true" class="txtNew divPay">
                      <p class="font_7" dir="rtl">
                        <span>שוברים במייל</span>
                      </p>
                    </div>
                    <div data-packed="true" class="txtNew divBill">
                      <p class="font_7" dir="rtl" style="text-align:center;">
                        <span>די לתיוקים! קבלו את השוברים שלכם ישירות למייל</span>
                      </p>
                    </div>

                    <div data-align="center" data-disabled="false" data-margin="0" data-should-use-flex="true" data-width="212" data-height="48"
                      class="style-jehkydi0 toPay" data-state="desktop shouldUseFlex center">
                      <a [routerLink]="commonService.isLogInUser ? '/user/37/bill-in-mail' :  '/37/bill-in-mail'"
                        role="button" class="g-transparent-a style-jehkydi0link">
                        <span class="style-jehkydi0label">להרשמה לשירות</span>
                      </a>
                    </div>
                  </div>
                </div>


                <!-- item -->
                <div class="s_BIwzIGroupSkin single-item">
                  <div class="s_BIwzIGroupSkininlineContent">
                    <div title="תשלומי לכרמי גת" class="wp2">
                      <div class="wp2link">
                        <img alt="תשלומים לכרמי גת" data-type="image" src="https://static.wixstatic.com/media/5ea301_b3352e0ffe1949d78aaebfc809223a76~mv2.jpg/v1/fill/w_44,h_59,al_c,q_80,usm_0.66_1.00_0.01/5ea301_b3352e0ffe1949d78aaebfc809223a76~mv2.webp">
                      </div>
                    </div>

                    <div data-packed="true" class="txtNew divPay">
                      <p class="font_7" dir="rtl">
                        <span>טפסים לגבייה</span>
                      </p>
                    </div>
                    <div data-packed="true" class="txtNew divBill">
                      <p class="font_7" dir="rtl" style="text-align:center;">
                        <span>רוצים לעדכן את פרטיכם בכל נושא של גבייה? זה המקום!</span>
                      </p>
                    </div>

                    <div data-align="center" data-disabled="false" data-margin="0" data-should-use-flex="true" data-width="212" data-height="48"
                      class="style-jehkydi0 toPay" data-state="desktop shouldUseFlex center">
                      <a [routerLink]="commonService.isLogInUser ? '/user/37/forms' :  '/37/forms'"
                        role="button" class="g-transparent-a style-jehkydi0link">
                        <span class="style-jehkydi0label">לטפסים</span>
                      </a>
                    </div>
                  </div>
                </div>



                <!-- row 3 -->
                <!-- item -->
                <div class="s_BIwzIGroupSkin single-item">
                  <div class="s_BIwzIGroupSkininlineContent">
                    <div title="תשלומי לכרמי גת" class="wp2">
                      <div class="wp2link">
                        <img alt="תשלומים לכרמי גת" data-type="image" src="https://static.wixstatic.com/media/5ea301_4860503b458745d8a3810e697b3158b4~mv2.jpg/v1/fill/w_69,h_59,al_c,q_80,usm_0.66_1.00_0.01/5ea301_4860503b458745d8a3810e697b3158b4~mv2.webp">
                      </div>
                    </div>

                    <div data-packed="true" class="txtNew divPay">
                      <p class="font_7" dir="rtl">
                        <span>מפת כרמי גת</span>
                      </p>
                    </div>
                    <div data-packed="true" class="txtNew divBill">
                      <p class="font_7" dir="rtl" style="text-align:center;">
                        <span>הכירו את סביבתכם. מכאן תוכלו לחפש כל אתר בעיר</span>
                      </p>

                    </div>

                    <div data-align="center" data-disabled="false" data-margin="0" data-should-use-flex="true" data-width="212" data-height="48"
                      class="style-jehkydi0 toPay" data-state="desktop shouldUseFlex center">
                      <a href="https://gis.intertown.co.il/krg/carmei-gat" target="_blank" 
                        role="button" class="g-transparent-a style-jehkydi0link">
                        <span class="style-jehkydi0label">למפה</span>
                      </a>
                    </div>
                  </div>
                </div>


                <!-- item -->
                <div class="s_BIwzIGroupSkin single-item">
                  <div class="s_BIwzIGroupSkininlineContent">
                    <!-- data-exact-height="63" data-content-padding-horizontal="4" data-content-padding-vertical="4" -->
                    <div title="תשלומי לכרמי גת" class="wp2">
                      <div class="wp2link">
                        <img alt="תשלומים לכרמי גת" data-type="image" src="https://static.wixstatic.com/media/5ea301_a5c3907321db49c78acb693f427c48a1~mv2.jpg/v1/fill/w_42,h_57,al_c,q_80,usm_0.66_1.00_0.01/5ea301_a5c3907321db49c78acb693f427c48a1~mv2.webp">
                      </div>
                    </div>

                    <div data-packed="true" class="txtNew divPay">
                      <p class="font_7" dir="rtl">
                        <span>חברת חשמל</span>
                      </p>
                    </div>
                    <div data-packed="true" class="txtNew divBill">
                      <p class="font_7" dir="rtl" style="text-align:center;">
                        <span>איך מעבירים את חשבון החשמל על שמכם? כל הפרטים כאן</span>
                      </p>
                    </div>

                    <div data-align="center" data-disabled="false" data-margin="0" data-should-use-flex="true" data-width="212" data-height="48"
                      class="style-jehkydi0 toPay" data-state="desktop shouldUseFlex center">
                      <a href="https://www.iec.co.il/HomeClients/DocLib5/shem_nter_screen.pdf" target="_blank" 
                        role="button" class="g-transparent-a style-jehkydi0link">
                        <span class="style-jehkydi0label">למדריך חברת חשמל</span>
                      </a>
                    </div>
                  </div>
                </div>


                <!-- item -->
                <div class="s_BIwzIGroupSkin single-item">
                  <div class="s_BIwzIGroupSkininlineContent">
                    <div title="תשלומי לכרמי גת" class="wp2">
                      <div class="wp2link">
                        <img alt="תשלומים לכרמי גת" data-type="image" src="https://static.wixstatic.com/media/5ea301_ed3cacf2fccd44798efe85333480a6df~mv2.jpg/v1/fill/w_72,h_53,al_c,q_80,usm_0.66_1.00_0.01/5ea301_ed3cacf2fccd44798efe85333480a6df~mv2.webp">
                      </div>
                    </div>

                    <div data-packed="true" class="txtNew divPay">
                      <p class="font_7" dir="rtl">
                        <span>צ'אט</span>
                      </p>
                    </div>
                    <div data-packed="true" class="txtNew divBill">
                      <p class="font_7" dir="rtl" style="text-align:center;">
                        <span>אנחנו לשירותכם! אין צורך להגיע למוקד. תשאלו ונענה</span>
                      </p>
                    </div>

                    <div data-align="center" data-disabled="false" data-margin="0" data-should-use-flex="true" data-width="212" data-height="48"
                      class="style-jehkydi0 toPay" data-state="desktop shouldUseFlex center">
                      <a [routerLink]="commonService.isLogInUser ? '/user/37/chat' :  '/37/chat'"
                        role="button" class="g-transparent-a style-jehkydi0link">
                        <span class="style-jehkydi0label">צ'וטטו איתנו</span>
                      </a>
                    </div>
                  </div>
                </div>



                <h2 class="font_2 good-lack" dir="rtl">
                    <span style="font-size:50px;">
                      <span class="color_33">
                        <span style="font-family:almoni-dl-aaa-400,sans-serif;">מזל טוב ובהצלחה!</span>
                      </span>
                    </span>
                  </h2>
      
  
         
                  <div style="margin: auto; width: 200px; height: 200px;" id="comp-jaaohemglink" class="wp2link">
                    <div data-style="" class="wp2img" id="comp-jaaohemgimg" style="position: relative; width: 200px; height: 200px;">
                      <img id="comp-jaaohemgimgimage" alt="" data-type="image" style="width: 80%; height: 188px;object-fit: none;"
                        src="https://static.wixstatic.com/media/5ea301_a5b97659fc2c42fb9c87c0e8a97b9189~mv2_d_1314_1418_s_2.jpg/v1/fill/w_133,h_150,al_c,q_80,usm_0.66_1.00_0.01/5ea301_a5b97659fc2c42fb9c87c0e8a97b9189~mv2_d_1314_1418_s_2.webp">
                    </div>
                  </div>
  



              </div>




             
                

            </div>
          </div>
        </section>

      </div>
    </div>
  </section>
</div>



