<div class="lets_start">
    <h1>{{'services'| lang}}</h1>
  </div>
  
  <div class="container_user_div">
    <section class="user-content">
      <div class="fh8co-main container-fluid">
        <div class="row">     
          <app-user-side-menu></app-user-side-menu>
  
  
          <section class="content-bx" style="margin-bottom: 38%" >  
              <div class="container">  
                <div class="row" >  
                 <!-- col-xs-10 -->
                  <div class="widthForContainerIframe" style="float: left;">  
                    <div>  
                      <h1 style="color:#0000c6; margin-right: 12vw; ">  החלפת פרטי כרטיס אשראי- {{commonService.cityModel.name}}  </h1>
                      
                      <iframe id="frameDemo" [src]="iframeSrc | safe" style="position:relative;  left:0px; right:0px; width: 100%; border: none; margin:0; padding:0;  overflow: auto; height: 2000px; z-index:0; margin-top:0px; margin-right:0px;"></iframe>
                      </div>
                    </div>  
                </div>
                </div>
           </section>
          
        
  
        </div>
      </div>
    </section>
  </div>