<div class="lets_start">
   
  <h2> {{'midotArnona'| lang}}</h2>

</div>

<app-regestrition-log-in></app-regestrition-log-in>

<section class="user-content" >
  
  <div class="fh8co-main container-fluid">

     <div class="row" >

        <div class="">

        </div>
           

        <div id="containerTableMyOpend" class="col-md-9 col-sm-9 padding-0 gray_bg" style="padding:4% 6% 0 0; ">
          <div class="box-wrapper">

            <div class="col-md-12 col-sm-12">

               <div id="tableMyOpend"  >

                  <div class="sliderdiv">

                     <div  style="margin-bottom:0px">

                        <h2 class="blue_bg_title">{{commonService.cityModel.name}} - {{'midotArnona'| lang}}</h2>

                     </div>

                  </div>

                  <table class="table table-striped refrence_table">

                      <thead>

                        <tr>

                           <th scope="col" id="tbl5">#</th>

                           <th scope="col" id="tbl7">שם</th>

                           <th scope="col" id="tbl9">צפיה</th>

                        </tr>

                     </thead>

                     <tbody>
                        <tr *ngFor="let arnona of arnonaImageList" >
                           <th scope="col" id="tbl13" headers="tbl5">1</th>
                           <td scope="row" headers="tbl7 tbl13">{{arnona.assetNumber}}</td>
                           <td scope="row" headers="tbl9 tbl13" class="refrenceSection"><a (click)="showPdf(arnona.imageSrc)" class="imgText cursorPointer"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a> </td>
                        </tr>                         
                     </tbody>

                  </table>
                  <div class="iframe_wrap" style="display: none;">
                     <a id="closePdfDoc" (click)="closePdfDoc()" class="b-close cursorPointer" style=" position: fixed; z-index: 14;" >x</a>
                     <iframe id="pdfIframe" [src]="iframeLink | safe" frameborder="2" style=" position: fixed; height: 50%;" ></iframe>
                   </div>
               </div>

            </div>

         </div>
        </div>

     </div>

  </div>

</section>
