<div class="lets_start">
    <h1>{{'Payments'| lang}}</h1>
  </div>
  <app-regestrition-log-in *ngIf="!commonService.isLogInUser"></app-regestrition-log-in>

  <div [ngClass]="commonService.isLogInUser ? 'container_user_div' : ''">
    <section class="user-content" [ngClass]="commonService.isLogInUser ? '' : 'servicesUserContent'">
      <div class="fh8co-main container-fluid">
        <div class="row">     
            <app-user-side-menu *ngIf="commonService.isLogInUser"></app-user-side-menu>
    
              <div id="tab-2" [ngClass]="commonService.isLogInUser ? 'col-md-9 col-sm-9 tab-content current' : 'col-md-12 col-sm-12'"  class="padding-0">
                <div class="box-wrapper">
                  <div [ngClass]="commonService.isLogInUser ? 'col-md-4 col-sm-4 col-xs-6 col-xxs-6 d-none' : 'col-md-3 col-sm-3 col-xs-6 col-xxs-6 '" class="padding-0 border-right border-bottom pull-right ">
                    <div class="img-grid">
                      <img src="{{commonService.cityModel.logo}}" alt="" class="img-responsive">
                      <span style="font-size:22px;" class="fh5co-meta">{{'Payments'| lang}}</span>
                    </div>
                  </div>
      
                  <div *ngFor="let child of cityChildrenList; let isFirstRow=first" (click)="goToPaymentPage(child.id)"  [ngClass]="commonService.isLogInUser ? 'col-md-4 col-sm-4 col-xs-6 col-xxs-6 ' : 'col-md-3 col-sm-3 col-xs-6 col-xxs-6'" class="pull-right padding-0 border-right border-bottom cursorPointer">
                    <div class="img-grid">
                      <img src="assets/img/user-17-h.png" alt="טפסים" class="img-responsive">
                      <span class="fh5co-meta">{{child.company_name}}</span>
                      <a href="javascript:void(0)" [ngClass]="{'mainContentForFocus' : isFirstRow}" class="transition id-2" id="jumpMain">
                        <div>
                          <h2 class="fh5co-title">
                            <img src="assets/img/user-17-h.png" alt="טפסים" class="img-responsive">
                          </h2>
                          <span class="fh5co-meta">{{child.company_name}}</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  
                  <div *ngIf="commonService.cityModel.isPaymentParentShow" (click)="goToPaymentPage(currentCityId)"  [ngClass]="commonService.isLogInUser ? 'col-md-4 col-sm-4 col-xs-6 col-xxs-6 ' : 'col-md-3 col-sm-3 col-xs-6 col-xxs-6'" class="pull-right padding-0 border-right border-bottom cursorPointer">
                    <div class="img-grid">
                      <img src="assets/img/user-17-h.png" alt="טפסים" class="img-responsive">
                      <span class="fh5co-meta">{{commonService.cityModel.name}}</span>
                      <a href="javascript:void(0)"  class="transition id-2" id="jumpMain">
                        <div>
                          <h2 class="fh5co-title">
                            <img src="assets/img/user-17-h.png" alt="טפסים" class="img-responsive">
                          </h2>
                          <span class="fh5co-meta">{{commonService.cityModel.name}}</span>
                        </div>
                      </a>
                    </div>
                  </div>
      
                 
                </div>
              </div>
           
       
  
        </div>
      </div>
    </section>
  </div>