<div [formGroup]="form">

  <div [ngSwitch]="question.controlType">
    <input *ngSwitchCase="'textbox'" [placeholder]="question.label" [formControlName]="question.key"
     [id]="question.key" [type]="question.type">

    <label *ngSwitchCase="'dropdown'" [attr.for]="question.key">{{question.label}}</label>  
    <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option value="" disabled selected>בחר</option>
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>
   
    <input #ck *ngSwitchCase="'checkbox'" [formControlName]="question.key" [id]="question.key" 
    [type]="question.type" (change)="form.controls[this.question.key].value = ck.checked"  [(ngModel)]="form.controls[this.question.key].value">
    <label *ngSwitchCase="'checkbox'" [attr.for]="question.key">{{question.label}}</label>  
  </div>
  
 <div *ngIf="form.controls[this.question.key].touched">   
    <div class="errorMessage" *ngIf="!isValid">{{question.validationMsg}}</div>
 </div>
 

</div>