

<div *ngIf="isValidRole">
      <h1>14</h1>
    
    
      <h2>אפליקציה</h2>
      שינוי שיטת הרשאת sms בזמן התחברות
      <br>
      פתיחת לינקים חיצוניים מחוץ לאפליקצייה
      <br>
      נוסף דף זימון תורים לאפליקצייה
      לינק - 
      /37/appointments
    
    
    
      <h2>ווב</h2>
      זימון תורים :תיקון בעיצוב לוח שנה- ימי ראשון לא דהויים, אלא רק שבת, נוספו אפשרויות בקידומת לטלפון
       <br>
       טיפול בבעיה באורך של טופס בעקבות מעבר ל sub-domain
   
  <h2>ווב + אפליקציה</h2>
  נוסף דף חיבור משתמש ע"י מנהל
   לינק - /customerregistartionformagaremployee
  <br>
  העברת לקוח שאינו רשום בעת התחברות למסך הרשמה, במקום למסך הזנת קוד
  <h1 id="a">1.39</h1>
        <p>
                <br>
                הוספת קידומות לטלפון נייד בדף זימון תורים
              
        </p>
        <h1 id="a">1.38</h1>
        <p>
                <br>
                טיפול בבאג של התמיכה בשפות
                <br>
                הרחבת וולידציה של שם רחוב(שלא תגביל תווין כמו גרשיים ומקף) בדף 106
                <br>
                תיקוני באגים בדפי זימון תורים
                <br>
                שינוי כתובות בסיס של טפסים וmast manager 
                <br>
                טיפול בבעיה בשינוי מספר טלפון למשתמש מחובר
                <br>
               תוקנה בעיה בהתחברות באמצעות מספר טלפון משני
        </p>

        <h1 id="a">1.37</h1>
        <p>
                <br>
              ירושלים דף קיטנות - 
               /164/summer-camp
                <br>
              לוד דף קייטנות -
              /160/afternoon
                <br>
                10478  - שינוי מלל בחלונית פופ אפ בכניסה לשוברים שלי
                <br>

                <br>
        </p>


        <h1 id="a">1.36</h1>
        <p>
          ווב- הדפים של תשלומים וטפסים אוחדו בין מצב מחובר ללא מחובר, יש לבדוק תקינות 
            <br>
     שינוי שיטת הרשמה + דפים המחייבים אימות נכס
     <br>
     דפים חדשים- צ'ט וקייטנות
     <br>
     /12/chat
     <br>
     /12/summer-camp  
        </p>


        <h1 id="a">1.35</h1>
        <p>
           ווב - הוסף רול לדף מידע על עדכוני גירסא
            <br>
            ווב - שונו עיצובים ולוגיקות בדף נתוני מים
        </p>
        

    <h1 id="a">1.34</h1>
<p>
     <br>
    תיקון של שדה של אימייל ברישום לשוברים במייל
     <br>
     שינוי המנגנון של רישום לשוברים במייל – נשלח אימייל נפרד 
     <br>
     הוספת אריח לטופס ארנונה שיפתח כדף חיצוני
     <br> 
     דפי זימון תורים ל-WEB
     <br> 
     3.	שינוי סדר TABים לטובת הנגישות – עצירה של ההנפשה
     <br> 
     7.	שוברים בעלי כמה דפים
     <br> 
     9.	הצגת שוברים של תמונות ומהקישורים של פורמיט גם בגרסת WEB
     <br> 
   ביטול גלילה ברשימת רשויות למשתמש חובר - ווב
     <br> 

     <br> 
    </p>
<h1 id="a">1.28</h1>
<p>
    פתיחת דפי תוכן שלא קשורים לרשות באומברקו.
     <br>
      פירורי לחם.
     <br>
    .אריחים רק באפליקציה או רק בווב.
    <br>
    תשלומים לא מוצג באייפון. 
    <br>
    תקלה של אפסים בתעודות זהות
    <br>
    הפניה בין הרשמה להתחברות והפוך
    <br>
    תמיכה בהפצת שוברים של פורמיט
    <br>
מועדפים
</p>
<h1 id="a">1.29</h1>
<p>
טופלה בעיית המיקום בדף מועדפים
<br>
מעבר לשירות מבוקש לאחר הרשמה - אפליקציה
<br>
 טופלה בעייה בפורמיט 
<br>
שימור הרשות האחרונה שהיה בה המשתמש ומעבר אליה לאחר התחברות נוספת
</p>
<h1 id="a">1.30</h1>
<p>
הגבלת יכולת התחברות ל10 פעמים בתוך 24 שעות
<br>
נוספה החלפת מספר טלפון באפליקצייה
<br>
תיקון של תזוזה מטה של הטקסט והחצים בדף של הפניות שלי אפליקציית מאסט
</p>
<h1 id="a">1.31</h1>
<p>
תיקון של תזוזה מטה של הטקסט והחצים בדף של הפניות שלי אפליקציית מאסט
<br>
    FAVORITES – מקסימום  6 + ובעיית המיקום שלהם. 
    <br>
MAST in development mode 
<br>
7.	MAST in development mode 
<br>
13.	הוספת קישור לאפליקציה MAST ל-IOS
<br>
14.	שינוי שיטת הצגת רשויות מרובות למשתמש – לזכור את האחרונה שנבחרה. 
<br>
app
16.	שינוי צבע של FAVORITES לצבע של MAST – כחול בוהק של MAST. 
<br>
18.	הודעת שגיאה במקרה של הצגת מסמך שלא קיים בשרת
<br>
app
23.	הנגישות של אפליקציה. קישור לדף רספונסיבי מונגש
<br>
app
24.	MAST app main page change – רשימת רשויות וגלילה. בוצע
<br>
app
זום בנתוני מים בארד

</p>
<h1 id="a">1.32</h1>
<p>
    שינוי שיטת התחברות- מובר בכל מקרה לדף הוספת קוד- רק באתר
    <br>
    תמיכה בשוברים מפורמיט ומהבית דפוס בדף אחד
</p>
<h1 id="a">1.33</h1>
<p>
  שינוי שיטת אימייל לכתיבה משמאל לימין לטובת אימיילים בעלי מספרים בלבד
    <br>
 דף זימון תורים- רק באתר.
https://dev.mast.co.il/user/93/appointments
<br>
תאריך התחברות אחרון- רק באתר
</p>

</div>