<div class="lets_start">
  <h1>{{'Payments'| lang}}</h1>
</div>
<app-regestrition-log-in *ngIf="!commonService.isLogInUser"></app-regestrition-log-in>

<div [ngClass]="commonService.isLogInUser ? 'container_user_div' : ''">
   <section class="user-content">
    <div class="fh8co-main container-fluid">
      <div class="row">
        <app-user-side-menu *ngIf="commonService.isLogInUser"></app-user-side-menu>

        <section class="content-bx">
          <div class="container">
            <div class="row">
              <div id="container_iframe" class="col-xs-10">
                <div>
                  <h1 style="color:#0000c6"> {{currentCityName}} - {{'Payments'| lang}} </h1>
                  <p style="color:#0000c6; padding-bottom:0px;" id="long-description" class="articles_list">{{'paymentsAreaMesseg'| lang}}
                  </p>
                  <iframe *ngIf="iframeSrc!=''" id="frameDemo" [src]="iframeSrc | safe" style="position:relative; top:0px;  left:0px; right:0px; width: 100%; border: none; margin:0; padding:0; overflow: hidden; z-index:0; min-height: 1400px;margin-top:0px; margin-right:0px;"></iframe>
                </div>
              </div>
            </div>
          </div>


          <div class="col-xs-12 text-center" style="padding-bottom: 2%; float: none;">
            <p>התשלום באתר זה מאובטח באמצעות SSL</p>
            <img src="assets/img/ssl.png" title="" alt="" class="img">
            <img src="assets/img/pcj.png" title="" alt="" class="img" style="margin-left: 0;">
          </div>

        </section>


      </div>
    </div>
  </section>
</div>