<div class="lets_start">
  <h1>צ'אט עם נציג</h1>
</div>
<app-regestrition-log-in *ngIf="!commonService.isLogInUser"></app-regestrition-log-in>

<div [ngClass]="commonService.isLogInUser ? 'container_user_div' : ''">
  <section class="user-content">
    <div class="fh8co-main container-fluid">
      <div class="row">
        <app-user-side-menu *ngIf="commonService.isLogInUser"> </app-user-side-menu>


        <section class="content-bx">
          <div class="container">
            <div class="row">
              <div id="container_iframe" class="col-xs-10">
                <div>

                  <iframe *ngIf="iframeSrc!=''" id="frameDemo" [src]="iframeSrc | safe" style="position:relative; top:0px;  left:0px; right:0px; width: 100%; border: none; margin:0; padding:0; overflow: hidden; z-index:0; min-height: 1170px;margin-top:0px; margin-right:0px;"></iframe>
                </div>
              </div>
            </div>
          </div>


        </section>


      </div>
    </div>
  </section>
</div>