<div class="lets_start">

  <h1>חשבונית במייל</h1>

</div>

<section class="user-content hideBefore">

  <div class="fh8co-main container-fluid background2">

    <div class="row form_pages">

      <div class="form_section_1">

        <div class="col-md-12 col-sm-12">

          <div *ngIf="showAddB2m" class="form_2 new_form">
          
       
            <h2 class="counter_number">חשבונית במייל</h2>

            <h3>הרשמה</h3>

            <p>
              לרישום לשירות  יש למלא את כתובת הדואר האלקטרוני  שאליה יישלחו השוברים.
              <br>במידה ונתקלת בבעיה ניתן להירשם  גם במוקד הטלפוני באמצעות נציג שירות  
            </p>
           
            <div class="form1">
              <input  *ngIf="!isReqUserName" [(ngModel)]="user.Email" name="Email" class="email_address" (focusout)="validEmailFun()" type="email" placeholder="* דואר אלקטרוני"  style="border-top: 1px solid #0000c5;">
              <div *ngIf="isValidEmailMesseg" class="validationMesseg">{{isValidEmailMesseg | lang }}</div>
             <div *ngIf="isReqUserName">
              <div>אנא הזן גם מספר משלם</div>
              <input [(ngModel)]="user.UserName" (focusout)="validUserNameFun()" name="UserName" class="payerNumber" type="text" placeholder="* מספר משלם"  style="border-top: 1px solid #0000c5;">
              <div *ngIf="isValidUserNameMesseg" class="validationMesseg">{{isValidUserNameMesseg | lang }}</div>
            </div>
             
              <div *ngIf="isResultMesseg" class="validationMesseg res">{{resultMesseg}}</div>

            </div>

            <div class="form2">
              
              <p style="margin-left: -60%;">
                <a href="javascript:void(0)" (click)="insertUserToB2M()" class="custom_sub_btn btn1" style="font-family: 'Heebo', sans-serif" title="send">הצטרף</a>
              </p>

            </div>

          </div>
          <div *ngIf="showB2mTbl" class="wrap-b2m-tbl" [ngClass]="!showAddB2m ? 'padding-top' : ''">
              <app-b2m-table (getItems)="checkRegisterCompeny($event)"></app-b2m-table>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>