.validationMesseg{
    width: 80%; 
    font-size: 80%;
    padding-top: 5px;
    padding-bottom: 10px;
    line-height:90%;    
}
input[type="text"],input[type="email"]
{
    width: 80%;
}
/* app-b2m-table input[type="text"] {
    border-bottom:none;
    margin-top: 0px;
    width: 84%;
    padding: 0%;

} */
.wrap-b2m-tbl{
    width: 500px;
    max-width: 100%; 
    padding-bottom: 5%;
    margin: 0 auto;
}
.padding-top{
    padding-top: 10%;
}