<!--selected tab text-->
<div class="content_section wrap_move">

    <h2 class="content_section_heading">חיסונים
        <a *ngIf="veterinariaService.selectetPet" href="javascript:void(0)" (click)="setFullVaccineList()" class="pets-btn">
          <img src="assets/img/dog.png">הצג חיסונים של כל החיות </a>
      </h2>
      <div class="wrap_message-show">
          <div class="message-show" *ngFor="let pet of veterinariaService.petsList | searchfilter: 'chip' : ( veterinariaService.selectetPet != null ? veterinariaService.selectetPet.chip : 'all'); index as i">
            <img src="assets/img/bulb-icon.png"> שים לב ! בהתאם להנחיות המחלקה הווטרינרית, יש לחסן את
            <b>{{pet.name}}</b> בחיסון נגד כלבת עד לתאריך {{pet.last_vaccine | AddYear}}
          </div>
        </div>
    
      <div class="table-container vaccinations_table" id="content-1">
        <div class="table-responsive" id="SkrollThis">
          <table class="table sticky-header">
            <thead>
              <tr>
                <th>סוג החיה</th>
                <th>שם החיה</th>
                <th>תאריך חיסון אחרון</th>
                <th>תאריך החיסון הבא</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let pet of veterinariaService.petsList | searchfilter: 'chip' : ( veterinariaService.selectetPet != null ? veterinariaService.selectetPet.chip : 'all'); index as i">
              <tr *ngFor="let vac of pet.licenses index as j">
                  <td>
                      <label class="for_smallscreen" for="Name of the animal">סוג החיה</label>{{pet.breed}}</td>
                <td>
                  <label class="for_smallscreen" for="Name of the animal">שם החיה</label>{{pet.name}}</td>
                <td>
                  <label class="for_smallscreen" for="Date of vaccination">תאריך חיסון אחרון</label> {{vac.vaccine_date}}</td>
                <td>
                  <label class="for_smallscreen" for="The cost of vaccination">תאריך החיסון הבא</label>{{pet.last_vaccine | AddYear}}</td> 
                            
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    


  <h2 class="content_section_heading">אגרות ותשלומים   </h2>
 

  <div class="table-container vaccinations_table" id="content-1">
    <div class="table-responsive" id="SkrollThis">
      <table class="table sticky-header">
        <thead>
          <tr>
            <th>שם החיה</th>
            <th>סוג האגרה</th>
            <th>שולם</th>
            <th>תאריך תשלום</th>
            <th>סכום </th>

            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let pet of veterinariaService.petsList | searchfilter: 'chip' : ( veterinariaService.selectetPet != null ? veterinariaService.selectetPet.chip : 'all'); index as i">
          <tr *ngFor="let vac of pet.licenses index as j">
            <td>
              <label class="for_smallscreen" for="Name of the animal">שם החיה</label>{{pet.name}}</td>
            <td>
              <label class="for_smallscreen" for="Name of the animal">סוג האגרה</label>רישיון להחזקת בע"ח</td>
            <td>
              <label class="for_smallscreen" for="Name of the animal">שולם</label>{{vac.paid}}</td>
            <td>
              <label class="for_smallscreen" for="Name of the animal">תאריך תשלום</label>{{vac.payment_date}}</td>
            <td>
              <label class="for_smallscreen" for="Name of the animal">סכום </label>{{vac.amount}}</td>

            <td *ngIf="vac.paid!='כן'">
              <a href="javascript:void(0)" (click)="goToPayment(vac.payment_url)" class="tablebtns paynow">שלם עכשיו </a>
            </td>
            <td *ngIf="vac.paid!='לא'">
              <label class="for_smallscreen" for="Name of the animal">&nbsp; </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




 

</div>