.overlay{
  display: block;
}

.headerForPageWithoutReg{
  height: 125px;
}
.contentHeader
{
  height: 170px;
}
.main-container{
    max-width: 1400px;
    margin: auto;
    background-color: #080808;
}

.popup h2 {
  font-size: 35px;
  font-weight: bold;
  margin-top: 0;
  color: #0000c6;
  font-family: 'heebolight';
}
.popup .content .text{
  font-family: 'heebolight';
  color: #979694;
  font-size: 27px;

}
.popup .timer{
  border: 1px solid blue;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 0px 10px 0px;
}
@media (max-width: 767px){
  .headerForPageWithoutReg{
    height: auto;
  }
  .contentHeader
  {
    height: auto;
  }

}





/* loader */
.cs-loader {
    z-index: 100001;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:black;
    opacity: 0.3;
   
  }
  
  .cs-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: calc(100% - 200px);
    color: #FFF;
    padding: 0 100px;
    text-align: center;
  }
  
  .cs-loader-inner label {
    font-size: 20px;
    opacity: 0;
    display:inline-block;
  }
  
  @keyframes lol {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    33% {
      opacity: 1;
      transform: translateX(0px);
    }
    66% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(300px);
    }
  }
  
  @-webkit-keyframes lol {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-300px);
    }
    33% {
      opacity: 1;
      -webkit-transform: translateX(0px);
    }
    66% {
      opacity: 1;
      -webkit-transform: translateX(0px);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(300px);
    }
  }
  
  .cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
  }

  @media(max-width : 676px)
  {
    .cs-loader-inner {  
      width: calc(100%);     
    }

  }