                           <!--selected tab text-->
                           <div class="content_section wrap_move">
                              <h2 class="content_section_heading">רשימת טפסים למילוי</h2>
                   

                              <div class="table-container form-table" id="content-1">
                                 <div class="table-responsive" id="SkrollThis"> 
                                    <table class="table"> 
                                       <thead> 
                                          <tr> 
                                             <th>שם הטופס</th> 
                                             <th></th>
                                          </tr> 
                                       </thead> 
                                       <tbody> 
                                          <tr> 
                                             <td scope="row"><label class="for_smallscreen" for="Name of form">שם הטופס</label>טופס 215 א’ - טופס רישוי בעל חיים</td>
                                             <td><a href="#" class="doc-btn"><img src="assets/img/doc-ico.png">שלם עכשיו </a></td> 
                                          </tr>
                                           <tr> 
                                             <td scope="row"><label class="for_smallscreen" for="Name of form">שם הטופס</label>טופס 61 - טופס העברת בעלות חיה ו/או אימוץ</td>
                                             <td><a href="#" class="doc-btn"><img src="assets/img/doc-ico.png">שלם עכשיו </a></td> 
                                          </tr>
                                           <tr> 
                                             <td scope="row"><label class="for_smallscreen" for="Name of form">שם הטופס</label>טופס 215 - רשימת חיסונים לכלבים גדולים</td>
                                             <td><a href="#" class="doc-btn"><img src="assets/img/doc-ico.png">שלם עכשיו </a></td> 
                                          </tr>
                                           <tr> 
                                             <td scope="row"><label class="for_smallscreen" for="Name of form">שם הטופס</label>טופס 215 א’ - טופס רישוי בעל חיים</td>
                                             <td><a href="#" class="doc-btn"><img src="assets/img/doc-ico.png">שלם עכשיו </a></td> 
                                          </tr>
                                           <tr> 
                                             <td scope="row"><label class="for_smallscreen" for="Name of form">שם הטופס</label>טופס 61 - טופס העברת בעלות חיה ו/או אימוץ</td>
                                             <td><a href="#" class="doc-btn"><img src="assets/img/doc-ico.png">שלם עכשיו </a></td> 
                                          </tr>
                                           <tr> 
                                             <td scope="row"><label class="for_smallscreen" for="Name of form">שם הטופס</label>טופס 215 - רשימת חיסונים לכלבים גדולים</td>
                                             <td><a href="#" class="doc-btn"><img src="assets/img/doc-ico.png">שלם עכשיו </a></td> 
                                          </tr> 
                                           <tr> 
                                             <td scope="row"><label class="for_smallscreen" for="Name of form">שם הטופס</label>טופס 215 - רשימת חיסונים לכלבים גדולים</td>
                                             <td><a href="#" class="doc-btn"><img src="assets/img/doc-ico.png">שלם עכשיו </a></td> 
                                          </tr>
                                           <tr> 
                                             <td scope="row"><label class="for_smallscreen" for="Name of form">שם הטופס</label>טופס 215 א’ - טופס רישוי בעל חיים</td>
                                             <td><a href="#" class="doc-btn"><img src="assets/img/doc-ico.png">שלם עכשיו </a></td> 
                                          </tr>
                                           <tr> 
                                             <td scope="row"><label class="for_smallscreen" for="Name of form">שם הטופס</label>טופס 61 - טופס העברת בעלות חיה ו/או אימוץ</td>
                                             <td><a href="#" class="doc-btn"><img src="assets/img/doc-ico.png">שלם עכשיו </a></td> 
                                          </tr>
                                           <tr> 
                                             <td scope="row"><label class="for_smallscreen" for="Name of form">שם הטופס</label>טופס 215 - רשימת חיסונים לכלבים גדולים</td>
                                             <td><a href="#" class="doc-btn"><img src="assets/img/doc-ico.png">שלם עכשיו </a></td> 
                                          </tr> 
                                           
                                           
                                           
                                          
                                       </tbody> 
                                    </table> 
                                 </div>
                              </div>
                 
                           </div>