/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/* a{
    text-decoration: underline;
} */


.validationMesseg{
    color: red;
    border-bottom: 1px solid #0000c5;       
    font-size: 80%;
}

input[type="email"]
{
    direction: ltr !important;
}

.leftBorder:not(:last-child):after {
    content: "  |";
}

.cursorPointer{
    cursor: pointer;
}

.mat-option.mat-active, .mat-option:hover {
    background-color: #0000c5;
    color: white;
}

.mat-autocomplete-panel{
     width:100%; right:0%; top:100%; border-top:1px solid #0000c6; border-bottom:1px solid #0000c6; box-shadow:5px 5px 10px #ddd;
}


/* date -picker- appointnents */

/* header */
.ngxmdp .selector{
    width: 108% !important;
    height: 322px!important;
    direction: rtl !important;    
    position: relative !important;
    top: -54px  !important;
    border: none !important;
  }

table.header tbody tr td:last-child div .headerbtncell{
    display: none;
} 
table.header tbody tr td:first-child div .headerbtncell:last-child{
    position: absolute;
    top: 18%;
    right: 2%;

} 

table.header tbody tr td:first-child div .headerbtncell:first-child{
    position: absolute;
    top: 18%;
    left: 2%;
} 

table.header tbody tr td div div button{   
    color: blue !important;
} 
.ngxmdp .header{
    background-color: white !important;
    background: white !important;
}
table.header{
height: 40px;
}
.ngxmdp .headerlabelbtn{
    font-size: 18px !important;
    font-weight: bold;
}

/* table */
.daycell.currmonth.selectedday.tablesingleday{
    border: 1px solid blue;
}
.daycell.currmonth.tablesingleday {
    background-color: #bab9b9 !important;
 
}
/* .daycell:not(.tablesingleday) span{
    opacity: .5 !important;
} */

thead tr:first-child th{
    color: blue !important;
    background-color:white !important;
}
tbody tr td div span{
    color: #717171 !important; 
}

.ngxmdp .caltable{
    font-size: 21px !important;
}
.ngxmdp .selectedday .datevalue{ 
    background-color: #0000c6 !important;
    width: 30%;
    margin-right: 34%; 
}
.ngxmdp .disabled{
    background: white !important;
}
.ngxmdp .selectedday .datevalue span{
    color: white !important;
   
}
.ngxmdp .headermonthtxt{
    position: absolute;
    top: 18%;
    right: 39%;
    width: 70px !important;
    max-width: 70px !important;
}
.ngxmdp .headeryeartxt{
    position: absolute;
    top: 18%;
    left: 43%;
}
.ngxmdp .weekdaytitle{
    /* font-weight: bold !important; */
    font-size: 20px !important;
}
.ngxmdp .markdate {
    background-color: #0000c6  !important;
    position: absolute;
    margin-right: 25px !important;
    width: 38px !important;
    height: 29px !important;
    border-radius: 4px;
    opacity: 0.6;
}


@media(max-width:676px)
{
    .ngxmdp .selector {
        width: 119% !important
    }
    .ngxmdp .headeryeartxt {
          left: 34%;
    }
    .ngxmdp .headermonthtxt { 
        right: 30%;
    }
    .ngxmdp .selectedday .datevalue {
        width: 74%;
        margin-right: 14%;
    }
}

/* end- date -picker- appointnents */


@media(max-width:676px)
{
    #container_iframe{
        width: 100%;
        margin-right: 1%;
      }
      
    .displayTab{
      display: block  !important;
    }
    .undisplayTab{
        display: none !important;
      }
}
.wrap_move{
    animation: step-move-in 0.3s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
}

.step-move-out{
    animation: step-move-out 0.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes step-move-out {
    0% {
         opacity: 1;
    }
  
    100% {
      
      opacity: 0;
      transform: translateX(300px);
    }
  }
  @keyframes step-move-in {
    0% {        
      transform: translateX(-300px);
      opacity: 0;
    }

    100% {     
      opacity: 1; 
      transform: translateX(0px);
    }
  }


 /* popup */

.overlay {
    overflow: auto;
    display: none;
    z-index: 10000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }
  
  .popup {
    overflow: auto;
    text-align: center;
    /* height: 45%; */
    margin: 70px auto;
    padding: 50px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    box-shadow: 0px -1px 31px 5px;
    transition: transform 2s;
  }
  
  .popup h2 {
    font-size: 45px;
    font-weight: bold;
    margin-top: 0;
    color: #0000c6;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color:#6d6df2;
  }
  .popup .close:hover {
    /* text-shadow: 2px 2px 4px #333348; */
    color:#0000c6;
  }
  .popup .content {
    max-height: 60%;
    font-size: 25px;
  }
  .close{
    opacity: 1;
  }
  #closePopup{
    font-weight: bold;
    border-radius: 15px;
  }
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      padding: 45px 15px 15px 15px;
      width: 90%;
    }
    .popup h2 {
        font-size: 25px;       
      }
    .popup .content{
        font-size: 18px;
    }
  }
  .submitBtn:hover, .submitBtn:focus{background:#0000c5; color:#fff;}
