<section class="content-bx">
  <div class="container">
    <div class="row">
      <div id="container_iframe" style="width: 78.333333%;">
        <div>        
          <iframe *ngIf="veterinariaService.iframeForPay!=''" id="frameDemo" [src]="veterinariaService.iframeForPay | safe" style="position:relative; top:0px;  left:0px; right:0px; width: 100%; border: none; margin:0; padding:0; overflow: hidden; z-index:0; min-height: 500px;margin-top:0px; margin-right:0px;"></iframe>
        </div>
      </div>
    </div>
  </div>