<div id="wrapper">
    <section class="container">
        <div class="row">
            <div class="widthMainBox center-column" id="main-nav">
                <div class="main-content">
                    <div class="row">

                        <div class="col-sm-8 center-column">
                            <div class="equalHeight">
                                <div class="header-content" style="padding-top: 10%;">
                                    <h2 class="content-title">הרשמתך לשירות בוצעה בהצלחה</h2>
                                </div>
                                <div class="content">
                                    <img src="assets/img/service-waiting-ico.png" class="loading-img" alt="" style="padding-right: 22%;" />
                                </div>
                                <div class="content2">
                                    הידעת? באפשרותך לבצע מגוון פעולות בעצמך -
                                    <a routerLink="/city-content/2688">פרטים נוספים כאן</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>